<nav class="flex items-center justify-between mx-24 py-5">
    <div>
        <img src="src/assets/logo.png" alt="Sigma Logo">
    </div>
    <div class="text-slate-200">
        <ul class="flex items-center space-x-10">
            <li><a href="/cv/index.php">Home</a></li>
            <li><a href="/cv/about.php">About</a></li>
            <li><a href="/cv/skills.php">Skill & Experience</a></li>
            <li><a href="/cv/certificates.php">Certificate</a></li>
            <li><a href="/cv/contact.php">Contact</a></li>
        </ul>
    </div>
</nav>